@import "./styles/riya.css";
@import "./styles/nishtha.css";
@import "./styles/manoj.css";
@import "./styles/mahesh.css";
@import "./styles/prashant.css";

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
    background-color: aliceblue;
}
/* --header-- */
header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

/* --sections-- */
section {
  height: 700px !important;
  margin-bottom: 2rem;
}
