#prashant {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  overflow: hidden;
  background: url("https://images.unsplash.com/photo-1627829631879-5b6e726cb57c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 25px;
}
#prashant img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#prashant h1 {
  margin: 0;
  z-index: 10;
  font-weight: bold;
  color: #333333;
  font-size: 80px;
}
#prashant p {
  margin: 20px 0;
  font-size: 28px;
  color: #666666;
  line-height: 1.2;
}
#prashant .tagline {
  margin-top: 20px;
  font-size: 26px;
  font-style: italic;
  color: #ffef44;
}
#prashant .button {
  display: inline-block;
  margin: auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
